/* Estilo general para el contenedor */
.container {
  max-width: 400px; /* Ancho máximo */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px; /* Espaciado interno */
  background-color: #f9f9f9; /* Color de fondo */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para los encabezados */
.title, h1, h2 {
  color: #4a90e2; /* Color azul para encabezados */
  text-align: center; /* Centrar texto */
}

/* Estilo para los botones */
.btn {
  background-color: #5cb85c; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  transition: background-color 0.3s; /* Efecto de transición */
  margin-top: 15px; /* Espacio superior para separación */
  display: block;
  margin-left: auto; /* Margen izquierdo automático */
  margin-right: auto; /* Margen derecho automático */
}

.btn:hover {
  background-color: #4cae4c; /* Color al pasar el mouse */
}

div {
  text-align: center; /* Centra el texto dentro del div */
}


/* Estilo para listas */
ul {
  list-style-type: none; /* Sin viñetas */
  padding: 0; /* Sin espaciado interno */
}

.cursos-list {
  margin-top: 10px;
}

.curso-item {
  padding: 10px; /* Espaciado interno en cada elemento de la lista */
  border-bottom: 1px solid #ddd; /* Línea divisoria entre elementos */
}

.curso-item:last-child {
  border-bottom: none; /* Sin línea en el último elemento */
}

/* Estilo para mensajes de error y éxito */
.error {
  color: red; /* Color rojo para mensajes de error */
}

/* Estilo específico para las secciones de cursos y temas */
.curso-info, .curso-tema, .curso-docente, .curso-alumnos {
  margin-bottom: 10px;
}

/* Estilo para buscar curso */
.buscar-curso {
  margin-top: 20px;
}

/* Estilo para los elementos dentro del dropdown */
.dropdown {
    margin-top: 10px;
}

.dropdown-fecha {
    margin-top: 20px;
}

/* Estilo para los elementos de los alumnos inscritos en los cursos */
.alumnos-curso {
    list-style-type: none; /* Sin viñetas en la lista de alumnos inscritos */
}

/* Estilos para ingresar un nuevo curso o tema */
input[type="number"], input[type="text"], input[type="date"], textarea {
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 30%; /* Ajusta el ancho del input según sea necesario */
    display: block; /* Hacer que el input sea un bloque */
    margin-left: auto; /* Margen izquierdo automático */
    margin-right: auto; /* Margen derecho automático */
}

label {
    margin-top: 10px;
    text-align: center; /* Alinear etiquetas a la izquierda */
}

.tabla_cursos{
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}

.tabla_cursos th, .tabla_cursos td {
  padding: 4px; /* Espaciado interno en las celdas */
  text-align: center; /* Centra el contenido de las celdas */
}

.tabla_cursos tr:hover {
  background-color: #5cb85c;
}

.table {
  width: 100%; /* Asegura que la tabla anidada ocupe todo el espacio disponible */
}

.tabla_alumnos{
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}
