<div>
  <h1>Lista de Alumnos</h1>

  <button (click)="loadAllAlumnos()">Cargar Todos los Alumnos</button>

  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <button class="dropbtn" (click)="isDropdownOpen = !isDropdownOpen">Ver Alumnos</button>

  <div class="dropdown" *ngIf="isDropdownOpen">
      <table border="1" class="tabla_alumnos">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>ID</th>
                  <th>Fecha de Nacimiento</th>
                  <th>Cursos</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let alumno of alumnos">
                  <td>{{ alumno.nombre }}</td>
                  <td>{{ alumno.id }}</td>
                  <td>{{ alumno.fechaNacimiento | date:'short' }}</td>
                  <td>
                      <table class="table mb-0">
                          <thead>
                              <tr>
                                  <th>ID Curso</th>
                                  <th>Precio Curso</th>
                                  <th>Fecha Inicio</th>
                                  <th>Fecha Fin</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let curso of alumno.cursos">
                                  <td>{{ curso.id }}</td>
                                  <td>usd${{ curso.precio }}</td>
                                  <td>{{ curso.fechaInicio | date:'short' }}</td>
                                  <td>{{ curso.fechaFin | date:'short' }}</td>
                              </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>


  <h2>Alumnos de un Curso</h2>
  <input type="number" #cursoId placeholder="Ingrese ID del Curso">
  <button (click)="loadAlumnosPorCurso(+cursoId.value)">Cargar Alumnos del Curso</button>

  <!-- Botón para mostrar el dropdown de alumnos del curso -->
  <button class="dropbtn" (click)="isDropdownCursoOpen = !isDropdownCursoOpen">Ver Alumnos del Curso</button>

  <div class="dropdown" *ngIf="isDropdownCursoOpen">
    <table border="1" class="tabla_alumnos">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>ID</th>
          <th>Fecha de Nacimiento</th>
          <th>Cursos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnosDelCurso">
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.id }}</td>
          <td>{{ alumno.fechaNacimiento | date:'short' }}</td>
          <td>
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>ID del Curso  </th>
                  <th>Precio Curso  </th>
                  <th>Fecha Inicio  </th>
                  <th>Fecha Fin  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let curso of alumno.cursos">
                  <td>{{ curso.id }}</td>
                  <td>usd${{ curso.precio }}</td>
                  <td>{{ curso.fechaInicio | date:'short' }}</td>
                  <td>{{ curso.fechaFin | date:'short' }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>




  <h2>Buscar y Registrar Alumno</h2>

  <div>
  <form (ngSubmit)="guardarAlumno()">
    <input type="number" [(ngModel)]="alumnoId1" placeholder="ID del Alumno" name="alumnoId1" required />

    <input type="text" [(ngModel)]="nuevoAlumno.nombre" placeholder="Nombre del Alumno" name="nombre" required />

    <input type="date" [(ngModel)]="nuevoAlumno.fechaNacimiento" name="fechaNacimiento" required />

    <button type="submit">Guardar Alumno</button>

    <button (click)="loadAlumnoById(alumnoId1)">Buscar</button>

    <!--<div *ngIf="mensaje">{{ mensaje }}</div> cambio para evitar los mensajes-->

    <div *ngIf="alumno">
      <table border="1" class="tabla_alumnos">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>ID</th>
                  <th>Fecha de Nacimiento</th>
                  <th>Cursos</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{ alumno.nombre }}</td>
                  <td>{{ alumno.id }}</td>
                  <td>{{ alumno.fechaNacimiento | date:'short' }}</td>
                  <td><!-- Tabla para cursos del alumno -->
                      <table class="table mb-0">
                          <thead>
                              <tr>
                                  <th>ID Curso</th>
                                  <th>Precio Curso</th>
                                  <th>Fecha Inicio</th>
                                  <th>Fecha Fin</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let curso of alumno.cursos">
                                  <td>{{ curso.id }}</td>
                                  <td>usd${{ curso.precio }}</td>
                                  <td>{{ curso.fechaInicio | date:'short' }}</td>
                                  <td>{{ curso.fechaFin | date:'short' }}</td>
                              </tr><!-- Fin fila curso -->
                          </tbody><!-- Fin cuerpo tabla de cursos -->
                      </table><!-- Fin tabla de cursos -->
                  </td><!-- Fin celda cursos -->
              </tr><!-- Fin fila alumno -->
          </tbody><!-- Fin cuerpo tabla -->
      </table><!-- Fin tabla principal -->
    </div><!-- Fin div alumno -->
  </form>
  </div>


    <!-- Inscribir y eliminar -->
  <h2>Inscribir o Eliminar Alumno</h2>
  <div>
  <form>

    <!-- Campo para ingresar el ID del alumno -->
    <input type="number" [(ngModel)]="alumnoId" placeholder="ID del Alumno para Inscripción/Eliminación" name="inscripcionId" required />

    <input type="text" [(ngModel)]="cursoIds" placeholder="IDs de Cursos (separados por comas)" name="cursoIdsInput" />

    <button (click)="inscribirseCurso()">Inscribir en Cursos</button>

    <button (click)="eliminarAlumno()">Eliminar Alumno</button>

    <!-- <div *ngIf="errorMessage">{{ errorMessage }}</div> -->

  </form>
  </div>


</div>
