<div>
  <h1>Lista de Alumnos</h1>

  <button (click)="loadAllAlumnos()">Cargar Todos los Alumnos</button>

  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <button class="dropbtn" (click)="isDropdownOpen = !isDropdownOpen">Ver Alumnos</button>

  <div class="dropdown" *ngIf="isDropdownOpen">
    <ul>
      <li *ngFor="let alumno of alumnos">
        <h4><strong>{{ alumno.nombre }}</strong></h4>
        ID: {{ alumno.id }}, Fecha de Nacimiento: {{ alumno.fechaNacimiento | date:'short' }}
        <h4>Cursos:</h4>
        <ul class="cursos-alumno">
          <li *ngFor="let curso of alumno.cursos" class="curso-alumno-item">
            ID Curso: {{ curso.id }} | Precio Curso: usd${{ curso.precio }} |
            Fecha Inicio: {{ curso.fechaInicio | date:'short' }} |
            Fecha Fin: {{ curso.fechaFin | date:'short' }}
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>Alumnos de un Curso</h2>
  <input type="number" #cursoId placeholder="Ingrese ID del Curso">
  <button (click)="loadAlumnosPorCurso(+cursoId.value)">Cargar Alumnos del Curso</button>

  <!-- Botón para mostrar el dropdown de alumnos del curso -->
  <button class="dropbtn" (click)="isDropdownCursoOpen = !isDropdownCursoOpen">Ver Alumnos del Curso</button>

  <div class="dropdown" *ngIf="isDropdownCursoOpen">
    <ul>
      <li *ngFor="let alumno of alumnosDelCurso"> <!-- Asegúrate de que esta variable contenga los alumnos del curso -->
        {{ alumno.nombre }} ,ID: {{ alumno.id }} ,fecha_nacimiento: {{ alumno.fechaNacimiento | date:'short' }}
        <ul class="cursos-alumno">
          <li *ngFor="let curso of alumno.cursos" class="curso-alumno-item">
            <span>ID Curso: {{ curso.id }}</span>
            <span>Precio Curso: usd${{ curso.precio }}</span>
            <span>Fecha Inicio: {{ curso.fechaInicio | date:'short' }}</span>
            <span>Fecha Fin: {{ curso.fechaFin | date:'short' }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>





  <h2>Buscar y Registrar Alumno</h2>

  <form (ngSubmit)="guardarAlumno()">
    <input type="number" [(ngModel)]="alumnoId" placeholder="ID del Alumno" name="alumnoId" required />

    <input type="text" [(ngModel)]="nuevoAlumno.nombre" placeholder="Nombre del Alumno" name="nombre" required />

    <input type="date" [(ngModel)]="nuevoAlumno.fechaNacimiento" name="fechaNacimiento" required />

    <button type="submit">Guardar Alumno</button>

    <button (click)="loadAlumnoById(alumnoId)">Buscar</button>

    <div *ngIf="mensaje">{{ mensaje }}</div>

    <div *ngIf="alumno">
      <h4>{{ alumno.nombre }} (ID: {{ alumno.id }})</h4>
      <!-- Mostrar cursos del alumno -->
      <ul class="cursos-alumno">
        <li *ngFor="let curso of alumno.cursos" class="curso-alumno-item">
          ID Curso: {{ curso.id }} | Precio Curso: usd${{ curso.precio }} |
          Fecha Inicio: {{ curso.fechaInicio | date:'short' }} |
          Fecha Fin: {{ curso.fechaFin | date:'short' }}
        </li>
      </ul>
    </div>
  </form>


    <!-- Inscribir y eliminar -->
    <h2>Inscribir o Eliminar Alumno</h2>
  <form>

    <!-- Campo para ingresar el ID del alumno -->
    <input type="number" [(ngModel)]="alumnoId" placeholder="ID del Alumno para Inscripción/Eliminación" name="inscripcionId" required />

    <input type="text" [(ngModel)]="cursoIds" placeholder="IDs de Cursos (separados por comas)" name="cursoIdsInput" />

    <button (click)="inscribirseCurso()">Inscribir en Cursos</button>

    <button (click)="eliminarAlumno()">Eliminar Alumno</button>

    <div *ngIf="errorMessage">{{ errorMessage }}</div>

   </form>


</div>
