<div>
  <nav>
    <a routerLink="/alumno" routerLinkActive="active">Alumnos</a>
    <a routerLink="/docentes" routerLinkActive="active">Docentes</a>
    <a routerLink="/cursos" routerLinkActive="active">Cursos</a>
    <a routerLink="/temas" routerLinkActive="active">Temas</a>
  </nav>
  <h1>{{ title }}</h1> <!-- Asegúrate de que esta línea esté presente -->
  <app-alumno></app-alumno> <!-- No puedes pasar texto aquí directamente -->
  <app-curso></app-curso>
  <app-docente></app-docente>
  <app-tema></app-tema>
  <!--
  <app-docente></app-docente>
  <app-tema></app-tema>
  -->
</div>
