<div>
  <h1>Lista de Docentes</h1>

  <button (click)="loadAllDocentes()">Cargar Todos los Docentes</button>

  <div *ngIf="errorMessage">{{ errorMessage }}</div>
  <div *ngIf="mensaje">{{ mensaje }}</div>

  <!-- Botón para mostrar el dropdown -->
  <button class="dropbtn" (click)="isDropdownOpen = !isDropdownOpen">Ver lista de docentes</button>

  <div class="dropdown" *ngIf="isDropdownOpen">
      <table border="1" class="tabla_docente">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Legajo</th>
                  <th>Cursos que Dicta</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let docente of docentes">
                  <td>{{ docente.nombre }}</td>
                  <td>{{ docente.legajo }}</td>
                  <td>
                      <table class="table mb-0">
                          <thead>
                              <tr>
                                  <th>ID Curso</th>
                                  <th>Tema ID</th>
                                  <th>Nombre Tema</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let curso of docente.cursos">
                                  <td>{{ curso.id }}</td>
                                  <td>{{ curso.tema.id }}</td>
                                  <td>{{ curso.tema.nombre }}</td>
                              </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

  <h2>Buscar Docente por ID</h2>
  <input type="number" #docenteId placeholder="Ingrese Legajo del Docente">
  <button (click)="loadDocenteById(+docenteId.value)">Buscar</button>

  <!-- Mostrar información del docente encontrado -->
  <div *ngIf="docente">
      <table border="1" class="tabla_docente">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Legajo</th>
                  <th>Cursos que Dicta</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{ docente.nombre }}</td>
                  <td>{{ docente.legajo }}</td>
                  <td>
                      <!-- Tabla anidada para cursos -->
                      <table class="table mb-0">
                          <thead>
                              <tr>
                                  <th>ID Curso</th>
                                  <th>Tema ID</th>
                                  <th>Nombre Tema</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let curso of docente.cursos">
                                  <td>{{ curso.id }}</td>
                                  <td>{{ curso.tema.id }}</td>
                                  <td>{{ curso.tema.nombre }}</td>
                              </tr>
                          </tbody>
                      </table><!-- Fin tabla anidada -->
                  </td><!-- Fin celda cursos -->
              </tr><!-- Fin fila docente -->
          </tbody><!-- Fin cuerpo tabla -->
      </table><!-- Fin tabla principal -->
  </div><!-- Fin div docente -->

  <!-- Formulario para Registrar y Modificar Docentes -->
  <h1>Registrar o Modificar Docentes</h1>

  <form (ngSubmit)="guardarDocente()">
    <div>
      <label for="legajo">Legajo:</label>
      <input type="number" [(ngModel)]="nuevoDocente.legajo" name="legajo" required />
    </div>
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" [(ngModel)]="nuevoDocente.nombre" name="nombre" required />
    </div>

    <!-- Botón para guardar nuevo docente -->
    <button type="submit">Guardar Docente</button>

    <!-- Formulario para modificar datos -->
    <div>
      <label for="legajoModificar">Legajo del Docente a Modificar:</label>
      <input type="number" [(ngModel)]="legajoModificar" name="legajoModificar" required />

      <label for="nombreModificar">Nuevo Nombre:</label>
      <input type="text" [(ngModel)]="nombreModificar" name="nombreModificar" required />

      <!-- Botón para modificar datos -->
      <button (click)="modificarDocente()">Modificar</button>
    </div>

    <!-- Formulario para eliminar un docente -->
    <div>
      <label for="docenteIdEliminar">ID del Docente a Eliminar:</label>
      <input type="number" [(ngModel)]="docenteIdEliminar" name="docenteIdEliminar" required />

      <!-- Botón para eliminar un docente -->
      <button (click)="eliminarDocente()">Eliminar</button>
    </div>

   </form>

</div>
